@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
/* VARIABLES */
$colorHover:rgb(226, 151, 66);

/* ESTILOS GENERALES*/
h1, h3{
    color: rgb(250, 249, 249);
}
h2{
    padding-left: 5%;
    color: rgb(250, 249, 249);
}
h3{
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
    padding-left: 3%;
    font-size: 3rem;
}
h4{
    font-size: small;
}
p{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Luxurious Roman', cursive;
    padding-left: 3%;
}
    ul{
        li{
            background-color:transparent;
            &:hover{
                background-color: $colorHover;
            }

        }
    }

footer{
    margin-top: 5%;
    height: 2%;
    background-color: transparent;
}
.col-lg-5{
    margin-bottom: 5%;
}
.row{
    h3{
        font-size: 3rem;
    }
    
}
.nav-link{ 
    border-style: solid;
    border-width: 1px;
    border-color: rgb(43, 36, 49);
    margin-right: 5%;
}
.d-block{
    border-radius: 2%;
}
.quienes{
    color: white;
    text-decoration: none;
}
/* MAPS Y MAP GET */
$iconos: (
    facebook: #3b5998,
    instagram: #C13584,
    linkedin: #0077B5,
    mail:#EA4335,
    whatsapp: #25D366
);
$styles: (
    tamaniio: 1.25rem ,
    fuente: 'Bebas Neue',
    borde: solid 1px,
    radio: 0.50rem,
);
@each $boton , $color in $iconos{
    .boton--#{$boton} {
        background-color: $color;
        font-size: map-get($styles, tamaniio);
        font-family: map-get($styles, fuente );
        color: map-get($styles, color1);
        border: map-get($styles, borde );
        border-radius: map-get($styles, radio);
        &:hover{
            background-color: $colorHover;
        }
        a{
            color: black;
            margin-right: 0.75rem;
            margin-left: 0.75rem;
            text-decoration: none;
        }
    }
}
/* EXTEND */

.nav-item{
    
    @extend .boton--mail;
    margin-right: 0%;
    margin-left: 0%;
    cursor: pointer;
    a{
        border-style: none;
    }
}
    
/* MIXIN */
@mixin estilosLetra ($letra, $tamanio) {
    font-style: $letra;
    font-size: $tamanio;
}
.divContacto{
    margin-top: 25%;
}
.boton-contacto{
    @extend .nav-item;
    border-style: none;
    border-radius: 0%;
    background-color: transparent;
    color: black;
    }
#index{
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#servicios , #flota , #nosotros{
    background-color: rgba(0, 0, 0, 0.89);
    }

#contacto{
        background-image: url(../img/nubes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

.texto{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
@media (max-width: 480px){
    .logo{
        width: 2rem;
        height: 2rem;
    }
    .container1 , .container2{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    .logo{
        width: 3rem;
        height: 3rem;
    }
    .mapita{
        width: 40%;
    }
    h3{
        font-size: 2rem;
    }
}
.textoFlota{
    color: white;
    margin-top: 10%;
    font-size: 2rem;
}
.mapita{
    width: 100%;
    height: 300px;

}
.container1 , .container2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.container1{
    div{
        h3{
            color: black;
            font-size: 1.75rem;   
        }
    p{
        color: black;
        font-family: 'Fredoka One';
        font-style:oblique;
        margin-top: 20%;
    }
    }
}
.container2{
    div{
        h3{
            color: black;
            font-size: 1.75rem;
        }
    p{
        color: black;
        font-family: 'Fredoka One';
        font-style:oblique;
        margin-top: 20%;
    }
    }
}
.form-label{
    color: black;
    font-family: 'Fredoka One';
        font-style:oblique;
}
.certif{
    width: 8rem;
    height: 8rem;
}
.divCertif{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.textoPago{
    @extend .texto;
    margin-top: 10%;
    font-size: 1rem;
}
.containerPago{
    width: 25%;
}
