@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* VARIABLES */
/* ESTILOS GENERALES*/
h1, h3 {
  color: #faf9f9;
}

h2 {
  padding-left: 5%;
  color: #faf9f9;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  text-decoration: underline;
  padding-left: 3%;
}

h4 {
  font-size: small;
}

p {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Luxurious Roman', cursive;
  padding-left: 3%;
}

ul li {
  background-color: transparent;
}

ul li:hover {
  background-color: #e29742;
}

.card-body p:hover {
  font-style: italic;
  font-size: 30px;
  color: #e29742;
}

footer {
  margin-top: 5%;
  height: 2%;
  background-color: transparent;
}

.col-lg-5 {
  margin-bottom: 5%;
}

.row h3 {
  font-size: 3rem;
}

.nav-link {
  border-style: solid;
  border-width: 1px;
  border-color: #2b2431;
  margin-right: 5%;
}

.d-block {
  border-radius: 2%;
}

/* MAPS Y MAP GET */
.boton--facebook {
  background-color: #3b5998;
  font-size: 1.25rem;
  font-family: "Bebas Neue";
  border: solid 1px;
  border-radius: 0.5rem;
}

.boton--facebook:hover {
  background-color: #e29742;
}

.boton--facebook a {
  color: black;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  text-decoration: none;
}

.boton--instagram {
  background-color: #C13584;
  font-size: 1.25rem;
  font-family: "Bebas Neue";
  border: solid 1px;
  border-radius: 0.5rem;
}

.boton--instagram:hover {
  background-color: #e29742;
}

.boton--instagram a {
  color: black;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  text-decoration: none;
}

.boton--linkedin {
  background-color: #0077B5;
  font-size: 1.25rem;
  font-family: "Bebas Neue";
  border: solid 1px;
  border-radius: 0.5rem;
}

.boton--linkedin:hover {
  background-color: #e29742;
}

.boton--linkedin a {
  color: black;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  text-decoration: none;
}

.boton--mail, .nav-item, .boton-contacto {
  background-color: #EA4335;
  font-size: 1.25rem;
  font-family: "Bebas Neue";
  border: solid 1px;
  border-radius: 0.5rem;
}

.boton--mail:hover, .nav-item:hover, .boton-contacto:hover {
  background-color: #e29742;
}

.boton--mail a, .nav-item a, .boton-contacto a {
  color: black;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  text-decoration: none;
}

.boton--whatsapp {
  background-color: #25D366;
  font-size: 1.25rem;
  font-family: "Bebas Neue";
  border: solid 1px;
  border-radius: 0.5rem;
}

.boton--whatsapp:hover {
  background-color: #e29742;
}

.boton--whatsapp a {
  color: black;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  text-decoration: none;
}

/* EXTEND */
.nav-item, .boton-contacto {
  margin-right: 0%;
  margin-left: 0%;
  cursor: pointer;
}

.nav-item a, .boton-contacto a {
  border-style: none;
}

/* MIXIN */
.footer1 {
  font-style: italic;
  font-size: 25px;
}

.divContacto {
  margin-top: 25%;
}

.boton-contacto {
  border-style: none;
  border-radius: 0%;
  background-color: transparent;
  color: black;
}

#index {
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

#servicios, #flota {
  background-color: rgba(0, 0, 0, 0.89);
}

#nosotros {
  background-image: url(../img/fondo8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

#contacto {
  background-image: url(../img/nubes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.logo {
  width: 1rem;
  height: 1rem;
}

.texto {
  font-size: 1.5rem;
  color: white;
  margin-top: 20%;
}
/*# sourceMappingURL=styles.css.map */